# تجاهل ملفات الـ cache الخاصة بـ pip
.cache/

# تجاهل ملفات الـ cache الخاصة بـ npm
.npm/

# تجاهل ملفات الاعتماد
.git-credentials

# تجاهل ملفات الـ zip الكبيرة
*.zip

# تجاهل الملفات المؤقتة
*.log

# تجاهل ملفات vim
.viminfo
